<!-- templates/base.html -->
{% load static %} 
<html>
  <head>
    <title>Django blog</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
  </head>
  <body>
    <header>
    <div class="nav-left"> <!--new-->
      <h1><a href="{% url 'home' %}">Django blog</a></h1>
    </div> <!--new-->
    <div class="nav-right"> <!--new-->
      <a href="{% url 'post_new' %}">+ New Blog Post</a> <!--new-->
    </div> <!--new-->
    </header>
      {% if user.is_authenticated %}
        <p>Hi {{ user.username }}!</p>
        <p><a href="{% url 'logout' %}">Log out</a></p> <!--new-->
      {% else %}
        <p>You are not logged in.</p>
        <a href="{% url 'login' %}">Log In</a>
      {% endif %}
    <div>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
